@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular;
  
  --color-brand-primary: #dc2626;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased min-h-screen;
    font-family: var(--font-sans);
  }
}